<?xml version="1.0"?>

<robot name="eddiebot" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find eddiebot_description)/urdf/eddiebot_hardware.urdf.xacro" />
  <xacro:include filename="$(find eddiebot_description)/urdf/eddiebot_body.urdf.xacro" />
  <xacro:include filename="$(find eddiebot_description)/urdf/eddiebot_calibration.xacro" />
  <xacro:include filename="$(find eddiebot_description)/urdf/eddiebot_kinect.urdf.xacro" />

  <property name="M_PI" value="3.14159"/>
  <property name="SCALE" value="0.0254"/>

  <!-- Body of EddieBot, with plates, standoffs and Create (including sim sensors) -->
  <eddiebot_body/>
  
  <!-- Kinect frames and mounting (includes simulation) -->
  <eddiebot_kinect/>
</robot>
